openapi: 3.0.1
info:
  title: fastapi-demo
  description: FastAPI demo API specification
  version: '1.0'
servers:
  - url: 'https://fastapi.demo.org/'
paths:
  /:
    get:
      summary: Hello world root
      responses:
        '200':
          description: A sample hello world response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelloWorld'
  /mappings/{accession}:
    get:
      summary: Get PDB mappings
      parameters:
        - name: accession
          in: path
          description: UniProt accession
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingResponse'
    x-summary: Mappings Collection
components:
  schemas:
    HelloWorld:
      title: A sample schema
      type: object
      description: A sample object
      properties:
        message:
          type: string
          title: A sample message
          example: Hello world
      required:
        - message
    Mapping:
      title: A mapping
      type: object
      properties:
        entry_id:
          title: Entry ID
          type: string
          description: A PDB entry ID
          example: 1A0A
        entity_id:
          title: Entity ID
          type: integer
          description: A PDB entity ID
          example: 1
        pdb_start:
          title: PDB start residue
          type: integer
          description: A PDB start residue
          example: 11
        pdb_end:
          title: PDB end residue
          type: integer
          description: A PDB end residue
          example: 20
        unp_start:
          title: UniProt start residue
          type: integer
          description: A UniProt start residue
          example: 11
        unp_end:
          title: UniProt end residue
          type: integer
          description: A UniProt end residue
          example: 20
        struct_asym_id:
          title: PDB chain ID
          type: string
          description: A PDB chain ID
          example: A
        auth_asym_id:
          title: PDB author chain ID
          type: string
          description: A PDB author chain ID
          example: B
        identity:
          title: Mapping identity
          maximum: 1
          minimum: 0
          type: number
          description: Mapping identity
          example: 0.9
      required:
        - entry_id
        - entity_id
        - pdb_start
        - pdb_end
        - unp_start
        - unp_end
        - struct_asym_id
        - auth_asym_id
        - identity
    MappingResponse:
      title: A mapping response
      type: object
      properties:
        accession:
          title: UniProt accession
          type: string
          description: A UniProt accession
          example: Q14676
        mappings:
          title: List of mappings
          type: array
          items:
            $ref: '#/components/schemas/Mapping'
      required:
        - accession
        - mappings